name: build-deploy

on:
  schedule:
    - cron: '30 5 * * SAT'
  push:
    paths-ignore:
      - '**/README.*md'
      - 'notes/**'
      - 'Python/**'
      - 'R/**'
      - 'Dockerfile*'
  pull_request:
    paths-ignore:
      - '**/README.*md'
      - 'notes/**'
      - 'Python/**'
      - 'R/**'
      - 'Dockerfile*'
  workflow_dispatch:

jobs:
    build-deploy:
      name: Build and deploy
      runs-on: ubuntu-latest
      steps:
        - name: Setup Node.js for use with actions
          uses: actions/setup-node@v1
          with:
            version: 12.x
        - name: Checkout branch
          uses: actions/checkout@v2
          with:
            path: app

        - name: Set homepage
          # replace default values from the fork in `package.json`
          run: |
            set -x
            cd app
            npm install -g json
            IFS="/" read -a a <<< ${{ github.repository }}
            json -I -f package.json -e "this.homepage=\"https://${a[0]}.github.io/${a[1]}\""
            # debug
            cat package.json
        - name: Install
          run: |
            cd app
            yarn install  # CRA uses yarn by default

        - name: Build
          run: |
            cd app
            yarn run build
          env:
            CI: false
            REACT_APP_DEFAULT_URL: https://raw.githubusercontent.com/tgve/example-data/main/casualties.csv
            REACT_APP_MAPBOX_ACCESS_TOKEN: ${{secrets.MAPBOX_KEY}}

        - name: Checkout tgvejs (default branch)
          uses: actions/checkout@v2
          with:
            path: tgvejs

        - name: Test
          run: |
            cd app
            yarn build-local
            yarn test:e2e

        - name: Deploy
          if: github.ref == 'refs/heads/release'
          uses: peaceiris/actions-gh-pages@v3
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: build
